.tree_container{
  padding: 0;
}

.tree_node{
  fill:#b3aca7;
  z-index: 5;
  /*#f5d67b*/
}
.tree_node.selected{
  fill:#f5d67b;
  z-index: 10;


}

.tree_node:hover{
  cursor: pointer;
}

.tree_edge{
  -webkit-filter: drop-shadow( 3px 3px 2px red);
  filter: drop-shadow( 3px 3px 2px red);
}